.selector-for-some-widget {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

.box {
  width: 100%;
  height: 200px;
}

.light-blue {
  background-color: lightblue;
}
.purple {
  background-color: purple;
}
.beige {
  background-color: beige;
}
